**/lib/CPASBERT_TrainedModels
**/ReferenceFiles
**/lib/6-new-12w-0
**/TestFiles_Human_APriori
**/TestFiles_Mouse_APriori
**/TestFiles_Mouse_APriori
**/Demo/NonEssential
**/Demo/Demo_Results/CtrlvsRBM17siRNA_3UTROnly_Softclipped+APriori